.navbar-toggle {
	margin-top: 25px;
}
.hero-btn {
	display: block;
	width: 180px;
	border-radius: 25px;
	background-color: $accent_color;
	color: $additional_color;
	font: 400 16px/50px $secondary_font;
	text-align: center;
	&:hover {
		text-decoration: none;
		color: $additional_color;
		background-color: $secondary_font_color;
		transition: all 0.3s ease-in-out;
	}
}
.contact-btn {
	margin-top: 30px;
	width: 170px;
	border-radius: 25px;
	background-color: $accent_color;
	text-decoration: none;
	border: none;
	font: 400 16px/50px $secondary_font;
}