.clients {
	width: 100%;
	min-height: 750px;
	padding: 80px 0 145px 0;
	background: url("../../img/clients-bg.png");
	background-size: cower;
	color: $secondary_font_color;
	h2.title {
		color: $secondary_font_color;
		font: 400 31px $secondary_font;
	}
	.description {
		color: $secondary_font_color;
		font: 400 21px/31px $secondary_font;
		letter-spacing: 0.84px;
	}
	.reviews-clients {margin-top: 60px;}
	.reviews-clients:last-child {padding: 10px 0 0 80px;}
	img {box-shadow: 20px 20px $accent_color;}
	.reviews {font: 400 14px/31px $primary_font;}
	span {font-size: 96px; float: left;}
	h3.title {font: 400 21px $secondary_font;}
	.positions {
		font: 400 14px $primary_font;
		letter-spacing: 0.56px;}
}