footer {
	width: 100%;
	background-color: $additional_color;
	color: $secondary_font_color;
	.flex {
		display: flex;
		min-height: 80px;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	.social-icons {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 115px;
		a {color: $secondary_font_color;}
	}
	.fa {font-size: 15px;}
}