.practis-area {
	padding: 100px 0 95px 0;
	width: 100%;
	min-height: 750px;
	background: url("../../img/practis-area.png") center center no-repeat;
	background-size: cover;
	.title, .description {color: $secondary_font_color;}
	.section-title {margin-bottom: 100px;}
	.content {
		color: $secondary_font_color;
		div {padding-bottom: 70px;}
		.title {font: 400 21px $secondary_font;}
		p {
			letter-spacing: 0.56px;
			font: 400 14px/25px $primary_font;
		}
	}
}